<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Eat Da Burgers</title>

    {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"> --}}
    <link rel="stylesheet" href="assets/css/burger_style.css" type="text/css"/>





</head>
<body>

    
        {{{ body }}}
    



</body>

</html>